:root {
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --main-btn-bg: #249a99;
  --main-bg-color: #f8f9fa;
  --primary-color: rgba(39, 33, 66, 1);
  --secondary-color: rgba(0, 0, 0, 0.589);
  --link-hover-color: black;
  --img-hover-color: #fff;
  --img-hover-bg: rgba(0, 0, 0, 0.7);
  --secondary-bg-color: #e5e5e5;
}
.container {
  padding: 15px 0px;
}

nav {
  background: var(--secondary-bg-color);
  /*  box-shadow: 6px 8px 23px 9px var(--secondary-bg-color); */
}
nav ul {
  list-style: none;
}
nav ul a {
  display: block;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}
nav ul a:hover,
li .active {
  color: var(--main-btn-bg) !important;
}
nav .logo {
  max-height: 38px;
}

nav a .linkelin-icon:hover,
.email-icon:hover {
  color: var(--main-btn-bg);
}

div .icon {
  max-width: 35px;
}

.hero {
  text-align: center;
  /*  background: #f8f9fa; */
  background: url(/img/background.jpeg);
  padding: 180px 20px;
  line-height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.hero small {
  font-family: var(--secondary-font-family);
}
.hero p {
  margin: 0px;
  font-size: 30px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  color: var(--primary-color);
  color: white;
}
.hero h1 {
  font-size: 70px;
  font-family: var(--primary-font-family);
  font-weight: bold;
  margin: 0px;
  color: white;
}
.hero h2 {
  font-family: var(--secondary-font-family);
  font-size: 20px;
}
.btn-hero {
  text-align: center;
  width: 100%;
  background: var(--main-btn-bg);
  padding: 18px 30px;
  border-radius: 4px;
  text-decoration: none;
  color: cornsilk;
  font-size: 18px;
  font-family: var(--secondary-font-family);
}

.btn-hero:hover {
  color: var(--link-hover-color);
}

.content-hero {
  padding: 140px 20px;
}
.content-hero .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}
.content-hero .row .col-md-4 {
  box-shadow: 3px 9px 16px 8px #80808021;
}

.content-hero h1 {
  font-family: var(--primary-font-family);
  font-size: 45px;
  font-weight: bold;
}

.content-hero h2 {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  color: var(--primary-color);
  font-weight: bold;
}
.content-hero h3 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 17px;
}

.content-hero p {
  font-family: var(--secondary-font-family);
  font-size: 15px;
}

.content-hero .skills-icons {
  transform: rotate(-90deg);
  float: left;
  color: var(--main-btn-bg);
  margin-top: 154px;
}
.content-hero .icon {
  padding: 0px;
  margin-top: 15px;
}

.btn-project-app:hover {
  color: var(--link-hover-color);
}

.btn-project-app {
  border: 1px solid var(--main-btn-bg);
  text-decoration: none;
  padding: 12px 20px;
  color: var(--main-btn-bg);
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--secondary-font-family);
}

.short-introduction {
  font-family: var(--secondary-font-family);
  padding: 50px;
  margin: 0px;
}
.main-page div h2 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 35px;
}
.main-page div p {
  line-height: 30px;
  font-size: 16px;
  font-family: var(--secondary-font-family);
}
.main-page .covid-img {
  padding-top: 48px;
}

.project-description {
  padding: 80px 46px;
}

/* work.html */
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: var(--img-hover-bg);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: var(--img-hover-color);
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: var(--img-hover-color);
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}
/* // */

footer .contact-box {
  background: var(--secondary-bg-color);
  padding: 30px 120px;
}
footer .contact-box p {
  font-size: 20px;
}

footer h3 {
  font-size: 48px;
  font-family: var(--primary-font-family);
  font-weight: bold;
}

footer,
.second-footer {
  font-size: 18px;
  font-family: var(--secondary-font-family);
}

footer .email-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-size: 24px;
  color: black;
}
footer .email-link:hover {
  color: var(--main-btn-bg);
}
footer .social-links {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
footer .social-links a {
  margin: 0 20px;
  background: var(--main-bg-color);
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 21px;
  color: var(--main-btn-bg);
}
footer .social-links a:hover {
  color: white;
  background: var(--main-btn-bg);
}

@media (max-width: 900px) {
  div h2 {
    font-size: 34px;
    margin-bottom: 20px;
  }
  .project-description {
    text-align: center;
    padding: 23px 20px;
  }

  .content-hero {
    text-align: center;
    padding: 100px 20px 10px;
  }
  .content-hero h1 {
    font-size: 34px;
  }
  .content-hero .skills-icons {
    margin-top: 100px;
  }

  footer .email-link {
    font-size: 18px;
  }
  footer .btn-hero {
    display: flex;
  }
}
